@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "DMMono";
  src: url("/public/DM_Mono/DMMono-Regular.ttf") format("truetype");
}

@layer base {
  @font-face {
        font-family: "DMMono";
        src: url("/public/DM_Mono/DMMono-Regular.ttf") format("truetype");
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  html {
    @apply bg-background
  }

  p, div, span {
    @apply font-dmmono text-white
  }

  h1 {
    @apply text-xl pb-6
  }

  a {
    @apply text-gray-50 hover:text-blue-400
  }

  i {
    @apply px-2
  }

  li {
    @apply list-disc list-inside
  }

  p {
    @apply mb-2
  }
}