@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "DMMono";
  src: url("../public/DM_Mono/DMMono-Regular.ttf") format("truetype");
}

@layer base {
  @font-face {
        font-family: "DMMono";
        src: url("../public/DM_Mono/DMMono-Regular.ttf") format("truetype");
  }
  html {
    @apply bg-background selection:bg-secondary selection:text-text
  }

}


@layer components {

  p, div, span {
    @apply font-dmmono text-text text-sm sm:text-base
  }

  h1 {
    @apply text-lg sm:text-xl mb-6 text-white bg-secondary 
  }

  a {
    @apply text-gray-50 hover:text-accent
  }

  i {
    @apply px-2
  }

  li {
    @apply list-disc list-inside 
  }

  p {
    @apply mb-2
  }
}