@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "DMMono";
  src: url("/public/DM_Mono/DMMono-Regular.ttf") format("truetype");
}

@layer base {
  @font-face {
        font-family: "DMMono";
        src: url("/public/DM_Mono/DMMono-Regular.ttf") format("truetype");
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  p, div, span {
    @apply font-dmmono text-white
  }
}